body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background-color: #181818;
}

.container {
    padding: 16px;
}

.title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 12px;
    color: white;
}

.search-input {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border-radius: 25px; /* было 10px */
    border: 1px solid #ddd;
    outline: none;
    box-sizing: border-box;
}

.search-input:focus {
    border-color: #0088cc;
}

.categories {
    margin-top: 24px;
}

.categories-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
    margin-left: 16px;
    color: white;
}

.categories-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    padding: 0 16px;
}

.category-card {
    position: relative;
    height: 140px;
    border-radius: 18px;
    overflow: hidden;
    cursor: pointer;
}

.category-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.category-card span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    color: black; /* или rgb(0,0,0) */
    font-size: 24px;
    font-weight: 600;
    text-align: center;

    text-shadow: 1px 1px 4px rgba(255,255,255,0.7); /* для читаемости на картинке */
}

.allprodukts-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 12px;
    color: white;
}
.all-products {
    margin-top: 30px;
}

.all-products-title {
    font-size: 24px;
    font-weight: 600;
    color: white;
    margin-bottom: 16px;
    padding: 0 16px;
}

.product-card {
    background-color: #222;
    border-radius: 20px;
    margin: 0 16px;
    overflow: hidden;
    padding-bottom: 16px;
}

.product-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.product-info {
    padding: 12px 16px 0 16px;
}

.product-name {
    font-size: 18px;
    font-weight: 600;
    color: white;
    margin-bottom: 8px;
}

.product-price {
    font-size: 16px;
    color: #ccc;
}
