body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background-color: #181818;
}

.container {
    padding: 16px;
}

.title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 12px;
    color: white;
}

.search-input {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border-radius: 25px; /* было 10px */
    border: 1px solid #ddd;
    outline: none;
    box-sizing: border-box;
}

.search-input:focus {
    border-color: #0088cc;
}
